<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoniya.restful.api.security.dao.RoleMapper">

    <sql id="columnResult">
        id,
        enabled,
        role_code as roleCode,
        role_name as roleName
    </sql>

    <select id="listAll" parameterType="Role" resultType="Role">
        SELECT <include refid="columnResult"/> FROM tbl_ac_role
    </select>

    <select id="findOne" resultType="Role" parameterType="Role">
        SELECT <include refid="columnResult"/> FROM tbl_ac_role WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
    </select>

</mapper>